
<h1 class="welcome">This is <strong class="comic">Comic-Media</strong> Blog</h1>
<p class="users">List of Users: </p>

<% @users.each do |u| %>
<div class="userList">
  <div id="userName"><a href="/signin"><%= u.username %></a></div>
  <div id="userEmail"><%= u.email %></div>
  <br>
  <hr>
</div>
<% end %>


<button id="btn" onclick="introduction()">Click Me</button>
