
.blogPostList{
  width: 65%;
  height: 1100px;
  overflow: scroll;
  border: 4px solid blue;
  margin-left: 306px;
}

.commentSection{
  border: 2px solid;
  height: 60px;
  background-color: lightgray
}

.blogTitle{
  font-size: 20px;
  margin-left:  20px;
  font-weight: bold;
}

.blogContent{
margin-left: 50px;
}

.blogUser{
  color: maroon;
  font-size: 20px;
}

.welcome{
  margin-left: 310px;
}

.users{
    margin-left: 310px;
}

.multipleBlogs{
  margin-left: 310px;
}

.blogPage{
  margin-left: 300px;
}

.editBlogTitle{
  margin-left: 310px;
}

.blogEditPage{
  margin-left: 320px;
}

.deleteBlogBtn{
  margin-left: 655px;
}

.createBlogTitle{
    margin-left: 310px;
}

.createBlog{
    margin-left: 320px;
}

.blogPageTitle{
    margin-left: 310px;
}

.blogShow{
    margin-left: 320px;
}

.addComment{
    margin-left: 330px;
}

.textArea{
    margin-left: 355px;
}

.linkTitle{
  font-size: 25px;
  font-weight: bold;
}

.linkContent{
  width: 800px;
  height: 300px;
  border: 2px solid;
  overflow: scroll;

}
