
.blogPostList{
  width: 65%;
  height: 1100px;
  overflow: scroll;
  border: 4px solid blue;
  margin-left: 300px;
}

.commentSection{
  border: 2px solid;
  height: 60px;
  background-color: lightgray
}

.blogTitle{
  font-size: 20px;
  margin-left:  20px;
  font-weight: bold;
}

.blogContent{
margin-left: 50px;
}

.blogUser{
  color: maroon;
  font-size: 20px;
}

.welcome{
  margin-left: 310px;
}

.users{
    margin-left: 310px;
}

.multipleBlogs{
  margin-left: 310px;
}

.blogPage{
  margin-left: 300px;
}
