.navbar{
  list-style-type: none;
  display: inline-block;
  background-color: gray;
  border: 2px solid;
  width: 1135px;
  text-decoration: none;
  overflow: hidden;
  word-spacing: 5px;
  font-size: 30px;
}

.design{
  width: 300px;
  height: 1200px;
  background-color: gray;
  border: 3px solid;
  position: absolute;
}

.pic{
  position: fixed;
}

#about{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 40px;
}
